#main-wrapper {
   width: 100%;
}
#sidebar-wrapper {
   display:none;
}

#schooblyLab {font-size:15px;line-height:30px;color:black;}
#schooblyLab a{text-decoration:underline}
#schooblyLab h3 {margin-top:30px;margin-bottom:10px;}
#schooblyLab li {
    list-style:none;background-image: url(https://4.bp.blogspot.com/-QlhqjzPyBRw/XtzPg_3NrPI/AAAAAAAAAW0/-QC7cIpktXEo4VgwKfZulqTrlqE-MZrLgCLcBGAsYHQ/s1600/li.png);
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 24px;
    margin-left: 16px;}
#schooblyLab li.wul{list-style:none;background-image: url(https://4.bp.blogspot.com/-c2zbeRLl8Oc/XtzLrHSBJgI/AAAAAAAAAWE/VHOEYmtsk98OkDB5SMKZTFtPuLVh7WicACLcBGAsYHQ/s1600/checked.png);
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 24px;
    margin-left: 16px;
}
.blog-pager .blog-pager-older-link {
    background: #00979d;
    color: white;
    cursor:pointer;
}
.blog-pager .blog-pager-older-link:hover {
    background: #00979d;
    color: white;
    cursor:pointer;
}

#blog-pager {
    float: left;
    width: 100%;
    overflow: hidden;
    clear: both;
    margin: 30px 0 10px;
}

.lab-progress {
  font-size:14px;
  color:grey;
  text-align:center;
}

.pre {
  font-family: "Lucida Console", Monaco, monospace;
    -webkit-text-size-adjust: none;
    background-color: #28323f;
    color: #fff;
    display: block;
    line-height: 1.4;
    padding: 14px;
    border-radius: 4px;
    font-size: inherit;
    overflow-x: auto;
} 

.special {
    background: #e6f4ea;
    border-color: #137333;
    color: #212124;
    border-left: 4px solid;
    border-radius: 4px;
    margin: 2em 0;
    padding: .5em 1em;
}

.code {
  font-family: "Lucida Console", Monaco, monospace;
  line-height: 24px;
    border-radius: 4px;
    margin: 0 auto 32px;
    max-width: 800px;
    background-color: #e8eaed;
    padding: .1em .3em;
}

.com {
   color: #bdc1c6;
    font-style: italic;
}

.str {
  color: #34a853;
}

#schooblyLab ol li {
    list-style-type: decimal;
    background: none;
    padding-left: 0px;
}

.warning {
    background: #fef7e0;
    border-color: #ea8600;
    color: #212124;
    border-left: 4px solid;
    border-radius: 4px;
    margin: 2em 0;
    padding: .5em 1em;
   
}
